<div class="tracking-item">
    <div class="tracking-icon status-complete">
      <i class="fas fa-thumbs-up"></i>
    </div>
    <div class="tracking-date">June 10, 2020<span>05:01 PM</span></div>
    <div class="tracking-content">Order Confirmed<span>Seller Confirmed your order</span></div>
  </div>
  <div class="tracking-item">
    <div class="tracking-icon status-complete">
      <i class="fas fa-truck"></i>
    </div>
    <div class="tracking-date">June 11, 2020<span>11:19 AM</span></div>
    <div class="tracking-content">In Transit<span>Shipped to Melborne Hub</span></div>
  </div>
  <div class="tracking-item">
    <div class="tracking-icon status-complete">
      <i class="fas fa-truck"></i>
    </div>
    <div class="tracking-date">June 12, 2020<span>09:19 AM</span></div>
    <div class="tracking-content">In Transit<span>Shipped to Melborne Hub 2</span></div>
  </div>
  <div class="tracking-item tracking-active">
    <div class="tracking-icon status-active">
      <i class="fas fa-street-view"></i>
    </div>
    <div class="tracking-date">June 12, 2020<span>04:42 PM</span></div>
    <div class="tracking-content">Arrived<span>Shipped to Nearest Hub Sydney</span></div>
  </div>
  <div class="tracking-item tracking-pending">
    <div class="tracking-icon status-pending">
      <i class="fas fa-motorcycle"></i>
    </div>
    <div class="tracking-date">--<span>--</span></div>
    <div class="tracking-content">Out for Delivery<span>Delivery agent picked your order</span></div>
  </div>
  <div class="tracking-item tracking-pending">
    <div class="tracking-icon status-pending">
      <i class="fas fa-check"></i>
    </div>
    <div class="tracking-date">--<span>--</span></div>
    <div class="tracking-content">Delivered<span>Your Order Delivered Successfully</span></div>
  </div>
</div>
<div class="col-lg-6">                

  <!-- Start Map-->
  <div id="map"></div>
  <div id="cont" style="display:none">
    <p>Your Order Arrived <br>Shipped to Nearest Hub Sydney</p>
  </div>
  <!-- End Map-->

</div>